# Responsáveis globais
* @GitHubJordan

# Específicos por área
backend/ @KeyDev &#x20;
frontend/ @Artur-Da-Cruz-Martinho2005 &#x20;
fullsctak/ @GitHubJordan &#x20;
designer UI/UX/ @Joaotavares99 &#x20;
docs/ @esterconceicao &#x20;
